<div class="container">
  <div class="row">
    <div class="wrap">
      <div class="scrollbar">
        <div class="handle">
          <div class="mousearea"></div>
        </div>
      </div>
      <div class="frame" id="basicSly">
        <ul>
          <li ng-repeat="query in queries" sly-horizontal-repeat ng-click="go(query.id)">{{query.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div ui-view=""></div>
    </div>
  </div>
</div>